
/* font-size */
.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}


/* color */
.navy-blue {
  color: #404974;
}

.light-blue {
  color: #2499d4;
}


/* background-color */
.bgc-white {
  background-color: #fff;
}


/* height */
.h30 {
  height: 30px;
}

.h80 {
  height: 80px;
}

.h100 {
  height: 100px;
}

.h500 {
  height: 500px;
}


/* width */
.w50 {
  width: 50px;
}

.w35p {
  width:35%;
}

.w65p {
  width: 65%;
}

.w80p {
  width: 80%;
}

.w90p {
  width: 90%;
}


/* padding */
.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.pt0 {
  padding-top: 0;
}

.pt50 {
  padding-top: 50px;
}

.pb0 {
  padding-bottom: 0;
}

.pb50 {
  padding-bottom: 50px;
}

.pr4vw {
  padding-right: 4vw;
}

.pr5vw {
  padding-right: 5vw;
}

.pr10vw {
  padding-right: 10vw;
}

.pl4vw {
  padding-left: 4vw;
}

.pl10vw {
  padding-left: 10vw;
}


/* margin */
.mb5 {
  margin-bottom: 5px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mrauto {
  margin-right: auto;
}

.mr15 {
  margin-right: 15px;
}

.mlauto {
  margin-left: auto;
}


/* border */
.border-black {
  border: 1px solid #404974;
}

.border-gray {
  border: 1px solid #cdcdcd;
}


/* border-radius */
.br5 {
  border-radius: 5px;
}


/* box-shadow */
.shadow-black {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}


/* text-align */
.tar {
  text-align: right;
}


/* text-decoration */
.tdn {
  text-decoration: none;
}


/* justify-content */
.justify-flex-end {
  justify-content: flex-end;
}


/* input, textarea */
input, textarea {
  resize: none;
  outline: none;
}


/* cursor: pointer; */
.submit:hover {
  cursor: pointer;
}